{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <form method="post" action="{%url 'match'%}">
                {% csrf_token %}
                {% for tag in tag_list %}
                <input type="checkbox" name="tags" value="{{ tag.id }}"> {{ tag.name }}<br>
                {% endfor %}
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="col">
        </div>
    </div>
</div>

{% endblock %}